<template>
    <v-container>
        <v-layout align-center justify-center>
            <v-flex xs12 sm6 v-if="!nothing">
                <v-card>
                    <v-img v-bind:src="imgurl" aspect-ratio="2.75"></v-img>
                    <v-card-title primary-title style="min-height: 190px">
                        <div>
                            <h4 class=" mb-0 estName" style="display:inline-block">{{ name }}</h4>
                            <div>
                                <span @click="getRoute" style="text-decoration: underline"> {{ address }} <v-icon color="info">directions</v-icon></span><br>
                                <div class="hidden-md-and-up">
                                    <v-rating v-model="rating" :half-increments="true" :readonly="true" color="error" background-color="error"  small dense></v-rating>
                                    <v-rating v-model="priceRange" empty-icon="" full-icon="attach_money" :readonly="true" color="error" small dense></v-rating>
                                </div>
                                <div class="hidden-sm-and-down">
                                    <v-rating v-model="rating" :half-increments="true" :readonly="true" color="error" background-color="error" ></v-rating>
                                    <v-rating v-model="priceRange" empty-icon="" full-icon="attach_money" :readonly="true" color="error" ></v-rating>
                                </div>
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
                <GmapMap ref="map" :center="{lat, lng}" :zoom="16" :options="{streetViewControl: false, mapTypeControl: false}" map-type-id="terrain" style="width: 100%; height: 200px; display: block; margin-left: auto; margin-right: auto;">
                    <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="true" @click="center=m.position" />
                </GmapMap>
                <div class="text-xs-center">
                    <v-btn large color="red accent-2" block dark @click="randomizeBar">
                        Pick a new {{ setButtonText() }}
                        <v-icon color="">place</v-icon>
                    </v-btn>
                    <v-btn normal color="success" @click="openFilterDialog">
                        Filter
                        <v-icon dark>filter_list</v-icon>
                    </v-btn>
                </div>
            </v-flex>
			<v-flex xs12 sm6 v-else>
				<v-card>
					<v-card-text>
						No results found, please adjust filters and try again.
					</v-card-text>
				</v-card>
				<div class="text-xs-center">
					<v-btn large color="red accent-2" block dark @click="randomizeBar">
						Pick a new {{ setButtonText() }}
						<v-icon color="">place</v-icon>
					</v-btn>
					<v-btn normal color="success" @click="openFilterDialog">
						Filter
						<v-icon dark>filter_list</v-icon>
					</v-btn>
				</div>
			</v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./barpage.ts">
    
</script>


<style>
    
</style>