.background {
	background-image: url("../main_bg.jpg");
	background-size: cover;
}
@font-face {
    font-family: 'blenda_scriptregular';
    src: url('../fonts/blendascript-webfont.woff2') format('woff2'),
         url('../fonts/blendascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.title-span {
	font-family: 'blenda_scriptregular';
	font-weight:normal;
	font-style:normal;
}
.spin-button {
	height: 60px;
	width: 100%;
	padding: 0px 50px;
	font-size: 20px;
}

.vertical-space {
	margin-top: 10px !important;
}

.margin-up {
	margin-top: 40px;
}

.header-img {
	height: 40px;
	width: auto;
}

.home-img {
	height: 50px;
	width: auto;
	display: inline-block;
}

.home-logo-text {
	font-size: 100px;
	line-height: 80px;
}

.estName {
	width: 296px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
	font-size: 20px !important;
	font-weight: 400;
	line-height: 32px !important;
	letter-spacing: normal !important;
	font-family: 'Roboto', sans-serif !important;
}