<template>
	<v-app>
		<navigation-component :drawer="drawer" @closing="drawer = !drawer" @openLoginDialog="openLoginCloseNav" @changeToHome="setActiveView(navigationViews.Home)" 
		@changeToAbout="setActiveView(navigationViews.About)" @openRegisterDialog="openRegisterCloseNav" />
		<v-toolbar app color="dark-grey" dark>
			<v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"/>
			<v-toolbar-title>
				<span class="title-span" @click="setActiveView(navigationViews.Home)"> BarRoulette</span>
			</v-toolbar-title>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat @click="setActiveView(navigationViews.Home)">Home</v-btn>
				<v-btn flat @click="setActiveView(navigationViews.About)">About</v-btn>
			</v-toolbar-items>
			<v-spacer></v-spacer>
			
		</v-toolbar>
		<v-content class="background">
				<home-component v-if="activeView == navigationViews.Home" @spinned="activeView = navigationViews.BarPage" @openFilterDialog="openFilterDialog"/>
				<bar-page-component v-if="activeView == navigationViews.BarPage" @openFilterDialog="openFilterDialog" />
				<about-component v-if="activeView == navigationViews.About" />
		</v-content>
		<!-- <v-footer app color="dark-grey" dark></v-footer> -->
		<login-dialog-component :loginDialogVisible="loginDialogVisible"  @hideDialog="loginDialogVisible = false" />
		<register-dialog-component :registerDialogVisible="registerDialogVisible"  @hideDialog="registerDialogVisible = false" />
		<filter-dialog-component :filterDialogVisible="filterDialogVisible" @hideDialog="filterDialogVisible = false" />
	</v-app>
</template>
<script src="./barroulette.ts"></script>