<template>
	<v-container fill-height>
		<v-layout align-center justify-center row>
			<v-flex xs12 sm8 md4 text-xs-center>
				<v-card style="margin-bottom: 10px">
					<v-img :src="require('../../assets/roulette-wheel.jpg')" height="200" />
					<v-card-title primary-title class="justify-center">
						<div class="headline">
							Welcome to BarRoulette
						</div>
					</v-card-title>
					<v-card-text>
						Click the button to get a bar or apply filter to receive a more specific type of bar.
					</v-card-text>
				</v-card>
				<v-btn large @click="goToBarPage()" color="red accent-2" class="spin-button" block dark>
					Pick a {{ setButtonText() }} <v-icon color="">place</v-icon>
				</v-btn>
				<v-btn normal color="success" @click="openFilterDialog">
					Filter <v-icon dark>filter_list</v-icon>
				</v-btn>
			</v-flex>
		</v-layout>
	</v-container>
</template>
<script src="./home.ts"></script>
