<template>
	<bar-roulette-component />
</template>
<script>
import BarRouletteComponent from './components/barroulette/barroulette'


export default {
  name: 'App',
  components: {
	BarRouletteComponent
  },
  data() {
    return {

    }
  }
}
</script>
<style>
  @import './assets/styles/styles.css';
</style>