<template>
	<v-container fill-height>
		<v-layout justify-center row>
			<v-flex xs12 sm8 md4 >
				<v-card style="margin-bottom: 10px">
					<v-img :src="require('../../assets/roulette-wheel.jpg')" height="200" />
					<v-card-title primary-title class="justify-center">
						<div class="headline">
							About the app
						</div>
					</v-card-title>
					<v-card-text>
						<h3>BarRoulette?</h3>
						<p>
							This website generates a random establishment (bar, restaurant or nightclub). 
							The selected establishment can either be generated in close proximity to your location
							or in a region of your choosing for example Södermalm. 
							Should you choose to limit the randomness you have the ability select a few filters that will limit the amount of possible options.
							<br><br>
							So get your adventure mode on and let BarRoulette guide you to new locations with new experiences.
						</p>
						<h3>How?</h3>
						<p>
							Magic!
						</p>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>
<script src="./about.ts"></script>