<template>
	<v-navigation-drawer v-model="drawer" absolute dark temporary color="dark-purple" mobile-break-point="x12">
		<v-list class="pa-1">
			<v-list-tile avatar tag="div">
				<v-list-tile-avatar>
					<img :src="require('./../../assets/roulette.png')" class="nav-img " />
				</v-list-tile-avatar>

				<v-list-tile-content>
					<v-list-tile-title>BarRoulette</v-list-tile-title>
				</v-list-tile-content>

				<v-list-tile-action>
					<v-btn icon @click.stop="closing" >
						<v-icon>chevron_left</v-icon>
					</v-btn>
				</v-list-tile-action>
			</v-list-tile>
		</v-list>
		<v-list class="pt-0">
			<v-divider light></v-divider>

			<v-list-tile>
				<v-list-tile-content grow>
					<v-list-tile-title @click="goToHome" >Home</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile>
				<v-list-tile-content>
					<v-list-tile-title @click="goToAbout" >About the app</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-divider heavy style=""></v-divider>
		</v-list>
		
	</v-navigation-drawer>
	
</template>
<script src="./navigation.ts"></script>