<template>
	<div class="text-xs-center">
		<v-dialog v-model="loginDialogVisible" width="500">
			<v-card class="elevation-12">
				<v-toolbar dark color="dark-grey">
					<v-toolbar-title>Login form</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-icon @click="hideDialog">close</v-icon>
				</v-toolbar>
				<v-card-text>
					<v-form>
						<v-text-field prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
						<v-text-field prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
					</v-form>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="dark-grey" dark>Login</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<script src="./login-dialog.ts"></script>