<template>
	<div class="text-xs-center">
		<v-dialog v-model="filterDialogVisible" width="500" persistent>
			<v-card class="elevation-12">
				<v-toolbar dark color="dark-grey">
					<v-toolbar-title>Filter</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-icon @click="hideDialog">close</v-icon>
				</v-toolbar>
				<v-card-text>
					<v-form>
						<!-- <v-text-field  v-model="filter.minprice" label="min" min="1" max="4" type="number"/>
						<v-text-field  v-model="filter.maxprice" label="max" min="1" max="4" type="number"/> -->


						<v-flex>
							<p>Price range (1-cheaper, 4-expensive): </p>
							<v-range-slider
							v-model="price"
							:max="4"
							:min="1"
							:step="1"
							
							thumb-label
							></v-range-slider>
						</v-flex>

						<v-layout align-center justify-space-between row fill-height>
						<v-flex xs6>
							<v-text-field  v-model="filter.rating" label="Rating (1-5)" min="1" max="5" type="number"/>
						</v-flex>
						<v-flex  xs6>
							<v-text-field  v-model="filter.radius" label="Radius (m)" min="1" max="5000" type="number"/>
						</v-flex>
						</v-layout>
						
                        <v-select
							:items="types"
							v-model="type"
							label="Choose type of establishment"
							item-text="name"
							item-value="name"
							
						></v-select>
						
						<v-select
							:items="regions"
							v-model="region"
							label="Choose Location"
							item-text="name"
							item-value="value"

						></v-select>
					</v-form>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn @click="saveFilters" color="dark-grey" dark>Save filters</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<script src="./filter-dialog.ts"></script>